<!DOCTYPE html>
<html>
  <head>
    <title>PvrShows</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path %>
    <% end %>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>  
      <p class="alert"><%= alert %></p>
    <% end %>  
    <%= yield %>
  </body>
</html>
